.abs{position: absolute}
.fix{position: fixed}
.rel{position: relative}

.fix.spread{top:0;right:0;left:0;bottom:0}

.z-1{z-index: -1}
.z0{z-index: 0}
.z1{z-index: 1}
.z2{z-index: 2}
.z3{z-index: 3}

.text-center{text-align: center;}
.flex{display: flex}

.flex.center{align-items: center;justify-content: center;}

.flex>*.nogrow{flex-grow: 0}
.flex>*.noshrink{flex-shrink: 0}
.flex>*.freeze{flex-grow: 0; flex-shrink: 0}

.flex.col{flex-direction: column;}
.flex.row{flex-direction: row;}
.flex.wrap{flex-wrap: wrap;}
[unselectable="on"]{
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
/* [unselectable="off"]{} */


.pointer,[role="button"], .pointer *,[role="button"] *{ cursor: pointer }


/* !!! experimental !!! */
.spread{ height: 100%; width: 100%; }
.contain{ max-width: 100%; max-height: 100%; }
.full{ width: 100vw; height: 100vh; }
